<%= error_messages_for 'event_group' %>

<!--[form:event_group]-->
<p><label for="event_group_name">Name</label><br/>
<%= text_field 'event_group', 'name'  %></p>

<p><label for="event_group_short_description">Short description</label><br/>
<%= text_area 'event_group', 'short_description'  %></p>
<!--[eoform:event_group]-->

