<h1>Listing calendars</h1>

<table>
  <tr><th>Calendar</th></tr>  
	<% for calendar in @calendars %>
	  <tr>
		<td><%= link_to calendar.name, url_for(:controller => 'admin/events', :permalink => calendar.permalink) %></td>
	  </tr>
	<% end %>
</table>

<br />
