 <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_33.gif"></td>
                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><div>There are already <b>1367</b> events planned in <b>50</b> states across the country!

</div><a href="http://events.stepitup2007.org/"><img src="http://s3.amazonaws.com/stepitup2007.org/img/map_static.gif" align="center" border="0"></a><div id="nav_find"> <a href="http://events.stepitup2007.org/">Find an Action Near You</a></div>But we still need hundreds and hundreds more in every city, state, and county.



  </td>
                    </tr></table></td>
                </tr>
              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><a href="http://www.stepitup2007.org/signup"><img src="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_03.gif" border=0></a></td>
                </tr>

                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><img src="http://s3.amazonaws.com/stepitup2007.org/img/index_thumb.jpg" align="left">Interested in organizing an action in your community?<br> 

<b style='text-align:center;'><a href='http://www.stepitup2007.org/signup'>SIGN UP NOW</a></b> and we'll get you started with everything you need.  </td>
                    </tr></table></td>
                </tr>

              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/nav_header_faq.gif"></td>
                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=166" class="sidelist">Are there any carbon-cutting bills currently being discussed in Congress?</a>  </td>

                    </tr>  <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=161" class="sidelist">How can we cut carbon 80% by 2050?</a>  </td>
                    </tr>  <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=111" class="sidelist">What if I can't make it to a rally?</a>  </td>
                    </tr>  <tr>

                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=29" class="sidelist">Why are we asking for 80% carbon cuts by 2050?</a>  </td>
                    </tr>  <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=30" class="sidelist">Will Congress listen?</a>  </td>
                    </tr>  <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=31" class="sidelist">Why not just have a march on Washington?</a>  </td>

                    </tr>  <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://s3.amazonaws.com/stepitup2007.org/img/article.php?id=32" class="sidelist">How big should my rally be?</a>  </td>
                    </tr></table></td>
                </tr>
              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_89.gif"></td>

                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif">

<script language="Javascript"  type="text/javascript" src="http://s3.amazonaws.com/stepitup2007.org/effects.js"></script>

<div align="center" id="ally_container">
<div id="ally-1"  class="ally_box">

	<a href="http://www.ucsusa.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/UCS160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-2" style="display:none" class="ally_box">
	<a href="http://www.seiu.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/SEIU.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-3" style="display:none" class="ally_box">
	<a href="http://www.climatecounts.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/climate_counts_bw.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-4" style="display:none" class="ally_box">
	<a href="http://www.coopamerica.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/coop160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-5" style="display:none" class="ally_box">
	<a href="http://www.ran.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/RANLogo160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-6" style="display:none" class="ally_box">
	<a href="http://www.unitedforpeace.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/United for Peace and Justice.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-7" style="display:none" class="ally_box">
	<a href="http://www.greenpeace.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/greenpeace.gif" border="0" width="160" class="ally_img"></a>

</div>

<div id="ally-8" style="display:none" class="ally_box">
	<a href="http://nowarnowarming.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/nowarnowarming160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-9" style="display:none" class="ally_box">
	<a href="http://www.oriononline.org/ogn" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/ogn.gif" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-10" style="display:none" class="ally_box">
	<a href="http://www.nwf.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/nwf_logo160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-11" style="display:none" class="ally_box">
	<a href="http://www.workingfilms.org/index2.html" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/workingfilms160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-12" style="display:none" class="ally_box">
	<a href="http://www.exxposeexxon.com/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/EE160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-13" style="display:none" class="ally_box">
	<a href="http://www.codepinkalert.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/CodePink160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-14" style="display:none" class="ally_box">
	<a href="http://www.onepercentfortheplanet.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/1Percent2.jpg" border="0" width="160" class="ally_img"></a>

</div>

<div id="ally-15" style="display:none" class="ally_box">
	<a href="http://www.clifbar.com" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/smallclifbw.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-16" style="display:none" class="ally_box">
	<a href="http://www.StopGlobalWarming.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/stopglobalwarming.gif" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-17" style="display:none" class="ally_box">
	<a href="http://www.earthday.net/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/edn_logo1602.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-18" style="display:none" class="ally_box">
	<a href="http://www.grist.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/grist_1.gif" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-19" style="display:none" class="ally_box">
	<a href="http://www.nativeenergy.com/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/NE_B_W160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-20" style="display:none" class="ally_box">
	<a href="http://www.climatecrisiscoalition.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/CCC.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-21" style="display:none" class="ally_box">
	<a href="http://www.nrdc.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/nrdc160.jpg" border="0" width="160" class="ally_img"></a>

</div>

<div id="ally-22" style="display:none" class="ally_box">
	<a href="http://friendsofanimals.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/foa160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-23" style="display:none" class="ally_box">
	<a href="http://www.focusthenation.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/FTN.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-24" style="display:none" class="ally_box">
	<a href="http://www.sierraclub.org" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/sierraclub160.jpg" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-25" style="display:none" class="ally_box">
	<a href="http://climatechallenge.org/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/campusclimate.gif" border="0" width="160" class="ally_img"></a>

</div>
<div id="ally-26" style="display:none" class="ally_box">
	<a href="http://www.coolourplanet.org/muse/" target="_blank" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/original/MuseCool.jpg" border="0" width="160" class="ally_img"></a>

</div>

</div> 

<script type="text/javascript">
var current_ally = 1;
new PeriodicalExecuter(function(pe) {
    if (current_ally >  24) {
$('ally-'+current_ally).hide();    	
 current_ally =  1;}
	var next_ally = current_ally + 1;
 $('ally-'+current_ally).hide();
	$('ally-'+next_ally).show();
	current_ally = current_ally + 1;
}, 2);
</script>

<br><center><b>
<a href="http://s3.amazonaws.com/stepitup2007.org/img/links.php">Click to see all the friends and allies</a></b></center>  </td>
                    </tr></table></td>

                </tr>
              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/navs_header_shop.gif"></td>
                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>

                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href="http://www.cafepress.com/stepitup"><img src="http://s3.amazonaws.com/stepitup2007.org/img/StepItUpT.gif" border="0"></a>
<br><br>
<a href="http://www.cafepress.com/stepitup">Visit the Store<a>  </td>
                    </tr></table></td>
                </tr>
              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">
                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/nav_header_climate.gif"></td>

                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><a href=" http://www.climateusa.org/leapfrog.html" onclick="window.open(this.href, '','height=250,width=650')
;return false;">
<img src="http://s3.amazonaws.com/stepitup2007.org/img/original/leapfrog.gif" width="180" border="0"></a>   </td>
                    </tr></table></td>
                </tr>
              </table><br> <table width="203"  border="0" cellspacing="0" cellpadding="0" background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navs_default.gif">

                <tr>
                  <td height="23" width="203" class="subside"><img src="http://s3.amazonaws.com/stepitup2007.org/img/nav_header_tune.gif"></td>
                </tr>
                <tr>
                  <td><table width="100%"  border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #CCCCCC; ">
                    <tr>
                      <td background="http://s3.amazonaws.com/stepitup2007.org/img/stepitup_navbg_07.gif"><div align=center><b><a href="http://s3.amazonaws.com/stepitup2007.org/img/userdata_display.php?modin=50&uid=7"><img src="http://s3.amazonaws.com/stepitup2007.org/img/thumb/gallerists.jpg" border=0><br>Step It Up</a></b><br>by: The Gallerists<br>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,47,0" width="35" height="35" id="wimpybutton980">

<param name="movie" value="http://stepitup2007.org/downloads/w.swf" />
<param name="loop" value="false" />
<param name="menu" value="false" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />
<param name="flashvars" value="theFile=http%3A%2F%2Fstepitup2007%2Eorg%2Fdownloads/StepItUp_The_Gallerists.mp3.mp3&playingColor=FFFFFF&rollOverColor=000000&displayRewindButton=no" />
<embed src="http://stepitup2007.org/downloads/w.swf" flashvars="theFile=http%3A%2F%2Fstepitup2007%2Eorg%2Fdownloads/StepItUp_The_Gallerists.mp3.mp3&playingColor=FFFFFF&rollOverColor=000000&displayRewindButton=no" width="35" height="35" bgcolor="#FFFFFF" loop="false" menu="false" quality="high" name="wimpybutton980" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object><br><br><a href="http://s3.amazonaws.com/stepitup2007.org/img/userdata_display.php?modin=50">Listen to All the Songs</a></div>  </td>
                    </tr></table></td>
                </tr>
              </table><br>