
You have been invited to <%= @event.name %>.

This event will take place e on <%= @event.start %> at <%= @event.location %> in <%= @event.city %>, <%= @event.state %>

Please click here <%= @url %> to find out mare about this event or to RSVP.