<%= @email_html %><br />
<br />
You can access the latest information for this event by clicking 
<%= link_to 'here', :controller => 'events', :action => 'show', :id => @event %>.<br />
You can see the submitted reports for this event by clicking 
<%= link_to 'here', report_url(:event_id => @event.id) %>.
