[submodule "vendor/plugins/workling"]
	path = vendor/plugins/workling
	url = git://github.com/purzelrakete/workling.git
[submodule "vendor/gems/starling"]
	path = vendor/gems/starling
	url = git://github.com/fiveruns/starling.git
[submodule "vendor/gems/memcache-client"]
	path = vendor/gems/memcache-client
	url = git://github.com/fiveruns/memcache-client.git
