<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Description" content="Thousands of Iraqis and U.S. and international occupation troops are dying in what the Bush administration calls liberated Iraq.  Included in this section is UFPJ's position on Iraq, action alerts, key analyis and articles, and educational materials to help us all end the war in Iraq and bring the troops home now!">
<meta name="Keywords" content="anti-war, anti-war movement, peace movement, no war on iraq, united for peace and justice, iraq, oil, global exchange, no war on iraq, code pink">
<link rel="Search" href="http://unitedforpeace.org/search.php">
<link rel="icon" href="" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="http://unitedforpeace.org/styles_default.css" id="default">
<link rel="stylesheet" type="text/css" href="http://unitedforpeace.org/custom/styles.css">
<style type='text/css'>
img.thumb {
    border:0;
    width: 50px;
    max-height: 300px;
}</style>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.unitedforpeace.org/rssfeed.php"><title>United for Peace & Justice&nbsp;:&nbsp;Iraq Campaign</title>
<script language="Javascript"  type="text/javascript" src="http://unitedforpeace.org/scripts/functions.js"></script>

  <%= javascript_include_tag 'prototype' %>
  <%= stylesheet_link_tag 'events' %>
  <%= yield :header %>
  <%= Cartographer::Gmap::Header.header_for(request) if @map %>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('http://www.unitedforpeace.org/img/ufpj_menu_on_01.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_02.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_03.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_04.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_05.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_06.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_07.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_08.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_09.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_10.gif','http://www.unitedforpeace.org/img/ufpj_menu_on_11.gif')"><br>
<table width="742"  border="0" align="center" cellpadding="0" cellspacing="0" style="border: 2px solid #0198CD; ">
  <tr>
    <td bgcolor="#FFFFFF"><table width="742"  border="0" cellspacing="0" cellpadding="0" style="border: 2px solid #0198CD; ">
      <tr>
        <td><a href="http://www.unitedforpeace.org/index.php"><img src="http://www.unitedforpeace.org/img/ufpj_banner_06_03.jpg" width="742" height="106" border="0"></a></td>
      </tr>
    </table>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>

          <td width="150" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
		  <tr><td height="20" align="center" bgcolor="#0198CD" class="boxheader">&nbsp;</td>
		  </tr>
		  <tr> <td><img src="http://www.unitedforpeace.org/img/spacer.gif" width="1" height="3"></td></tr>
      <tr>
        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=18" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('get involved','','http://www.unitedforpeace.org/img/ufpj_menu_on_01.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_01.gif" alt="Get Involved" name="get involved" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>

        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=70" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('End the War on Iraq','','http://www.unitedforpeace.org/img/ufpj_menu_on_02.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_02.gif" alt="End the War on Iraq" name="End the War on Iraq" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="http://www.unitedforpeace.org/article.php?id=3240" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('No War on Iran','','http://www.unitedforpeace.org/img/ufpj_menu_on_03.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_03.gif" alt="No War on Iran" name="No War on Iran" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=26" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Ongoing Campaigns','','http://www.unitedforpeace.org/img/ufpj_menu_on_04.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_04.gif" alt="Ongoing Campaigns" name="Ongoing Campaigns" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>

        <td><a href="http://www.unitedforpeace.org/article.php?id=3269" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('grassroots action','','http://www.unitedforpeace.org/img/ufpj_menu_on_05.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_05.gif" alt="Grassroots Action" name="grassroots action" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=27" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Members','','http://www.unitedforpeace.org/img/ufpj_menu_on_06.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_06.gif" alt="Member Groups Directory" name="Members" width="151" height="49" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=16" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('About Ufpj','','http://www.unitedforpeace.org/img/ufpj_menu_on_07.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_07.gif" alt="About UFPJ" name="About Ufpj" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>

        <td><a href="http://www.unitedforpeace.org/article.php?list=type&type=15" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('press room','','http://www.unitedforpeace.org/img/ufpj_menu_on_08.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_08.gif" alt="Press Room" name="press room" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="catalog/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('UFPJ Store','','http://www.unitedforpeace.org/img/ufpj_menu_on_09.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_09.gif" alt="UFPJ Store" name="UFPJ Store" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="contactus.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Contact','','http://www.unitedforpeace.org/img/ufpj_menu_on_10.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_10.gif" alt="Contact Us" name="Contact" width="151" height="36" border="0"></a></td>
      </tr>
      <tr>

        <td><a href="index.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('home','','http://www.unitedforpeace.org/img/ufpj_menu_on_11.gif',1)"><img src="http://www.unitedforpeace.org/img/ufpj_menu_11.gif" alt="home" name="home" width="151" height="34" border="0"></a></td>
      </tr>
    </table><br><div class="nav_block" id="left_nav"><div class="nav_element nav_position_1" id="nav_id_152"></div>
<div class="nav_element nav_position_2" id="nav_id_97"></div>
</div>
</td><td width="1"></td>
          <td valign="top">
		  
		  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td bgcolor="#0198CD" height="20"><!-- BEGIN BREADCRUMB CODE -->

<span class='breadcrumb'><a href="http://unitedforpeace.org/index.php" class='breadcrumb'>Home</a> &nbsp;&nbsp;<b>&#187;</b>&nbsp;&nbsp;<a href="http://unitedforpeace.org/article.php?list=type&type=26" class="breadcrumb">Campaigns</a>&nbsp;&nbsp;<b>&#187;</b>&nbsp;&nbsp;<a href="http://unitedforpeace.org/article.php?list=type&type=70" class="breadcrumb">Iraq Campaign</a></span>
<br /><br /><!-- END BREADCRUMB CODE -->
</td>
            </tr>
			<tr>
			<tr> <td><img src="http://www.unitedforpeace.org/img/spacer.gif" width="1" height="3"></td></tr>
            <tr>
              <td><table width="100%"  border="0" cellspacing="0" cellpadding="10">

         
<td></td><tr>
  <td  class="text">
  
   <% if flash[:notice] %><div class="flash" id="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div class="flash" id="error"><%= flash[:error] %></div><% end %>
	          <%= yield %>
 <BR />
<p class="text"></td></tr></table></div>
                    <br>
                    <br><br></td>
                </tr>
              </table></td>
            </tr>
        <tr bgcolor="#CCCCCC">
         <td colspan="3" bgcolor="#000000" class="homebottom">
          <div align="left">
            UnitedforPeace.org is a nonpartisan resource for anti-war and social change activists.  The information and events on this site are not necessarily endorsed by members of United for Peace and Justice. Please see our
            <a href="article.php?id=226">
              <font color="#CCCCCC">
                editorial policy
              </font></a>

            for more information.</a>
          </div>
        </td>
        </tr>
          </table>
		  
    </td>
          <td width="1"></td>

  </tr>
</table>
 
<br>
</body>
</html>