<% content_for :header do %>
<%= javascript_include_tag 'effects' %>
<% end %>
<div id='detail-container'>
	<div class="intro-title">
		Tell us what happened at your event
	</div>
Sorry, we are no longer accepting new reports.


 <%= render :partial =>'reports/report_nav' %>
</div>
