<div class="revent_total"><span class="revent-total-count"><%= @event_count.to_s.split('').map {|n| "<span class='sprite_#{n}'>#{n}</span>" } -%></span> <span class="revent-total-state"><%= @states.length.to_s.split('').map {|n| "<span class='sprite_#{n}'>#{n}</span>" } -%></span><span class="revent-total-countdown"><%= ((Time.mktime(2008, 9, 28) - Time.now).abs / 86400).round.to_s.split('').map {|n| "<span class='sprite_#{n}'>#{n}</span>" } -%></span></div>
