<div class="revent_total"><span class="revent-total-count"><%= @event_count -%></span> <span class="revent-total-state"><%= @states.length -%></span><span class="revent-total-countdown"><%= ((Time.mktime(2008, 9, 27) - Time.now).abs / 86400).round -%></span></div>
