<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml" lang="en-us"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- base href="http://greenjobsnow.com/" --><!--[if lt IE 7]></base><![endif]-->
    <meta name="generator" content="Plone - http://plone.org">
    <link rel="kss-base-url" href="http://greenjobsnow.com">
    <script type="text/javascript" src="http://www.greenjobsnow.com/portal_javascripts/Day%20of%20Action/jquery-cachekey6050.js">
      </script>
      <script type="text/javascript" src="http://www.greenjobsnow.com/portal_javascripts/Day%20of%20Action/resourcebase2-dom-fp-cachekey1040.js">
      </script>
 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/base.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/public.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/columns.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/authoring.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/portlets.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/controlpanel.css); --></style>   
      <style type="text/css" media="print"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/print.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/deprecated.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/navtree.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/invisibles.css); --></style>    
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/forms.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/++resource++submenu-navigation.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/ploneKss.css); --></style> 
      <style type="text/css" media="all"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/onenwTemplate.css); --></style> 
      <style type="text/css" media="screen"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/plonetheme.dayofaction.css); --></style> 
      <style type="text/css" media="all"><!-- @import url(http://greenjobsnow.com/portal_css/Day%20of%20Action/ploneCustom.css); --></style>
<title>Green Jobs Now</title>

    <!-- Internet Explorer CSS Fixes -->
    <!--[if IE]>
        <style type="text/css" media="all">@import url(http://greenjobsnow.com/IEFixes.css);</style>
    <![endif]-->
    
    <link rel="author" href="http://www.greenjobsnow.com/author/" title="Author information">
    <link rel="shortcut icon" type="image/x-icon" href="http://greenjobsnow.com/favicon.ico">
    <link rel="home" href="http://www.greenjobsnow.com" title="Front page">
    <link rel="contents" href="http://www.greenjobsnow.com/sitemap" title="Site Map">
    <link rel="search" href="http://www.greenjobsnow.com/search_form" title="Search this site">



    <!-- Disable IE6 image toolbar -->
    <meta http-equiv="imagetoolbar" content="no">

    
  <%= javascript_include_tag 'prototype' %>
  <%= stylesheet_link_tag 'events' %>
  <%= theme_stylesheet_link_tag 'greenforall.css' %>
  <%= yield :header %>
  <%= Cartographer::Gmap::Header.header_for(request) if @map %>   
    
  </head><body class="None template-homepage_view" dir="ltr">
                        
    <div id="visual-portal-top-wrapper">
      <a href="http://www.greenjobsnow.com" title="Green Jobs Now: National Day of Action to Build the New Economy"><span class="site-name">Green Jobs Now</span></a>
    </div>
    <div id="visual-portal-wrapper">
      <div id="visual-portal-inner-wrapper">
        <div id="portal-top">
          <div id="portal-header">

<p class="hiddenStructure">
  <a accesskey="2" href="http://www.greenjobsnow.com#documentContent">Skip to content.</a> |

  <a accesskey="6" href="http://www.greenjobsnow.com#portlet-navigation-tree">Skip to navigation</a>
</p>


    <h5 class="hiddenStructure">Sections</h5>
    <div id="portal-globalnav-wrapper">
    <ul id="portal-globalnav">

        <li id="portaltab-about">
            <a href="http://www.greenjobsnow.com/about">
               <span class="tabname">About</span>
            </a></li>

        <li id="portaltab-media">
            <a href="http://www.greenjobsnow.com/media">
               <span class="tabname">Media</span>

            </a></li>

        <li id="portaltab-hq">
            <a href="http://www.greenjobsnow.com/hq">
               <span class="tabname">Organizer's HQ</span>
            </a></li>

        <li id="portaltab-blog">
            <a href="http://www.greenjobsnow.com/blog">

               <span class="tabname">Blog</span>
            </a></li>

    </ul>
    </div>

</div>
        </div>

        <div class="visualClear" id="clear-space-before-wrapper-table"><!-- --></div>

        <table id="portal-columns">
          <tbody>
            <tr>
              <td id="portal-column-content">
                  <div class="">

                    <div id="region-content" class="documentContent">

                      <span id="contentTopLeft"></span>
                      <span id="contentTopRight"></span>
                    
                      <a name="documentContent"></a>
                      
                      <div id="content" style="padding-left:26px; padding-right: 26px;">
                        
                          <% if flash[:notice] %><div class="flash" id="notice"><%= flash[:notice] %></div><% end %>
                          <% if flash[:error] %><div class="flash" id="error"><%= flash[:error] %></div><% end %>
                          <%= yield %>
                        <br/><br/><br/>
                      </div>
                      
                      <span id="contentBottomLeft"></span>
                      <span id="contentBottomRight"></span>

                    </div>

                  </div>

                
              </td>
              
            </tr>

          </tbody>
        </table>
        

        <div class="visualClear" id="clear-space-before-footer"><!-- --></div>
      
        


        <div class="visualClear"><!-- --></div>
      </div>
    </div>
    <div id="visual-portal-bottom-wrapper">
      
        <div class="visualClear"><!-- --></div>
        
        <div class="documentActions">
              

              <h5 class="hiddenStructure">Document Actions</h5>

                  <ul>
                        
                            <li id="document-action-sendto">
                                        <a href="http://greenjobsnow.com/sendto_form"
                                                         title="">Email this page</a>
                                                               </li>
                                                                   
                                                                   
                                                                       <li id="document-action-print">
                                                                                   <a href="javascript:this.print();" title="">Print this</a>

                                                                                           </li>
                                                                                               

                                                                                               </ul>
                                                                                                   

                                                                                                   

                                                                                             </div>
        <div id="portal-footer">

               <div>
                       Green Jobs Now is a project of Green For All, 1Sky, the We Campaign, and our many sponsors and partners. Together we are working to build an inclusive green economy strong enough to lift people out of poverty and solve the climate crisis.
                            </div>

                          </div>

                          <ul id="portal-siteactions">

                                
                                <li id="siteaction-contact" class="first-action"><a
                                      href="http://greenjobsnow.com/about/contact"
                                          accesskey="9" title="Contact Us">Contact Us</a></li>
                                            
                                        <li id="siteaction-privacy" class="plain"><a
                                              href="http://www.greenjobsnow.com/privacy" accesskey=""
                                                  title="Privacy">Privacy</a></li>
                                                    
                                                    
                                                    <li id="siteaction-terms-of-use" class="last-action"><a
                                                          href="http://www.greenjobsnow.com/terms-of-use-agreement/"
                                                              accesskey="" title="Terms of Use">Terms of Use</a></li>

                                                  </ul>



                                                  <div id="portal-colophon">

                                                        <span id="powered-by-plone">

                                                                  powered by 
                                                                          <span> <a href="http://plone.org" title="This website is built on the Plone Content Management System. Click to learn more.">Plone</a> </span>
                                                                              </span>
                                                                                  |
                                                                                      <span id="site-by">
                                                                                                site by
                                                                                                        <span> <a href="http://www.onenw.org" title="Powering the voice of the NW environmental movement.">ONE/Northwest</a> </span>

                                                                                                            </span>
                                                                                                                
                                                                                                                <span id="clean-energy">
                                                                                                                          and served with
                                                                                                                                  <span> <a href="http://www.greentagsusa.org" title="Green Tags from Bonneville Environmental Foundation">clean energy</a> </span>
                                                                                                                                      </span>

                                                                                                                                    </div>
        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3015140-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>
      
    </div>
</body></html>
