<!DOCTYPE html PUBLIC "-//W4C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Revent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <%= stylesheet_link_tag 'events' %>
      <%= javascript_include_tag 'prototype' %>
      <%= yield :header %>
      <%= Cartographer::Gmap::Header.header_for(request) if @map %>
  </head>
  <body>
    <% if flash[:notice] %><div class="flash" id="notice"><%= flash[:notice] %></div><% end %>
    <% if flash[:error] %><div class="flash" id="error"><%= flash[:error] %></div><% end %>
    <%= yield %>
  </body>
</html>

