<div id="nav-event">
<%= link_to 'Find An Event', :controller => 'events', :action => 'index' %>
  |  <%= link_to 'Host An Event', 'http://stepitup07.org/signup' %>  |  <%= link_to 'Manage Your Event', 'http://stepitup07.org/profile' %>
</div>