<div id="nav-event">
<%= link_to 'Find An Event', :permalink => @calendar.permalink %>
  |  <%= link_to 'Host An Event', 'http://stepitup07.org/signup' %>  |  <%= link_to 'Manage Your Event', '/profile' %>
</div>
