<%= render :partial => 'report', :collection => @events %>
<script>
  DaysOfAction.current_district = <%= @district ? "'#{@district.downcase.insert(2,'_')}'" : 'null' %>;
  <% if @district -%>
  setButtons('us_<%= @district.downcase.insert(2,'_') %>');
  <% else -%>
  $('invite-context').update('');
  <% end -%>
</script>
