<%= @event.name %> is hosted by <%= @host.full_name %>
<br/><br/>
<p>Send an email to <%= mail_to @host.email, @host.first_name %></p>
<br/>
<%= link_to 'Back to Event Details', :action => :show, :id => @event %>


