<% restrict_to "developer" do %>
  <div id="developer">
	<b>Developer Tools:</b><br>
    <%= link_to 'load fixtures', :controller => :site, :action => :load_data, :id => :test %> | <%= link_to 'load events from DIA', :controller => :site, :action => :load_data, :id => :dia %>
	<div class="login-box">

		<% if logged_in? %><%= link_to "Log Out", :controller => 'account', :action => 'logout' %><% end %>
</div>
  </div>
<% end %>
