@charset "utf-8";
/* CSS Document */
body {
background-image: url(http://events.servicenation.org/themes/servicenation/images/bg3.jpg);
background-position:center top;
background-repeat: no-repeat;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
}
img {
border:0;
}
.activist2 {
	position:absolute;
	width:1251px;
	left: -144px;
	top: 22px;
	background:url(http://events.servicenation.org/themes/servicenation/images/activist.png);
	height:45px;
}
.activist {
	position:absolute;
	width:1251px;
	left: -421px;
	top: 21px;
	background:url(http://events.servicenation.org/themes/servicenation/images/activist.png);
	height:45px;
}
a:link, a:visited, a:active {
color:#2B6AA3;
text-decoration:none;
}
a:hover {
color:#D47C35;
text-decoration:none;
}
div.leftmenu:hover {
background-color:#3375A7;
cursor:pointer;
}
img.pngfix {
behavior: url(http://events.servicenation.org/themes/servicenation/stylesheets/iepngfix.htc);
}
div.explanatory_links {
  padding: 5px 0pt; 
  text-align: left; 
  color: rgb(43, 106, 163); 
  font-family: 'Arial Black',Arial,Verdana; 
  text-transform: uppercase; 
  font-size: 13pt; 
}

/* override default css */
#join-form input {
  margin: auto;
  padding: 1px 0px;
  font-size: 13px;
}
.national-intro-count {
font-weight:bold;
color: #2B6AA3;
}
#partner-events { 
border-bottom-color:#CBD8E8;
border-bottom-style:solid;
border-bottom-width:1px;
margin-bottom:9px;
margin-left:15px;
margin-right:7px;
margin-top:0;
width:251px;
}
#partner-events-list {
font-size: 12px;
padding: 2px 0 2px 0;
margin: 0;
}
#parnter-events .intro-text { 
  margin: 0 0 15px 0;
  display: block;
  font-size: 14px;

}
#partner-events-list h4 {
font-size: 
padding: 2px 0 2px 0;
margin: 0;
font-weight: normal;
color: #666666;
display: inline;
}
#partner-events-list {
margin: 5px 0 5px 0;
}
#partner-events-list .revent_location {
  color: #639431;
margin: 5px 0 0 0;
font-weight: bold;
}
#partner-events-list .revent_location a {
  color: #639431;
font-weight: bold;
}
#partner-events-list .revent_date { 
  display: inline;
  margin: 0 0 0 5px;
color: #666666;
}
