<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>. | Power Vote</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://powervote.org/sites/default/themes/pv/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="http://powervote.org/misc/jquery.js?N"></script>
<script type="text/javascript" src="http://powervote.org/misc/drupal.js?N"></script>
<script type="text/javascript" src="http://powervote.org/sites/default/modules/filefield/filefield.js?N"></script>

<script type="text/javascript" src="http://powervote.org/sites/default/themes/pv/js/jquery.innerfade.js?N"></script>
<script type="text/javascript" src="http://powervote.org/sites/default/themes/pv/js/pv.js?N"></script>
<script type="text/javascript">jQuery.extend(Drupal.settings, { "basePath": "/" });</script>
  <link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/aggregator/aggregator.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/node/node.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/system/defaults.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/system/system.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/system/system-menus.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/modules/user/user.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/modules/cck/theme/content.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/modules/filefield/filefield.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/modules/imagefield/imagefield.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/modules/og/og.css?N" />

<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/modules/cck/modules/fieldgroup/fieldgroup.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/themes/pv/style.css?N" />

          <%= javascript_include_tag 'prototype' %>
        <%= stylesheet_link_tag 'events' %>
        <%= yield :header %>
        <%= Cartographer::Gmap::Header.header_for(request) if @map %>


  <!--[if IE 6]>
    <link type="text/css" rel="stylesheet" media="all" href="http://powervote.org/sites/default/themes/pv/ie6.css" />
  <![endif]-->
</head>

<body class="not-front not-logged-in page-node node-type-page one-sidebar sidebar-left">
  <div id="wrapper" class="clear-block">
    <div id="header" class="clear-block">
      <h1><a href="http://powervote.org/">Power Vote</a></h1>

      <ul id="primary"><li class="about first"><a href="http://powervote.org/about">About</a></li>
<li class="leader"><a href="http://powervote.org/organize">Leader&#039;s HQ</a></li>
<li class="groups"><a href="http://powervote.org/groups">Groups</a></li>
<li class="events"><a href="http://events.powervote.org">Events</a></li>
<li class="newsroom last"><a href="http://powervote.org/newsroom">Newsroom</a></li>
</ul><a href="http://powervote.org/platform" id="people">Clean energy. Climate justice. Green jobs. No coal.</a>          </div><!--/header-->
    <div id="pagebody" class="clear-block">

      
              <div id="left">
          <div id="block-menu-menu-event-menu" class="block block-menu">
  <h2 class="title">Event Menu</h2>

  <div class="content">
    <ul class="menu">  
    <li class="leaf first"><a title="" href="http://events.powervote.org">Find an event</a></li>
<li class="leaf"><a title="" href="http://events.powervote.org/signup">Create an event</a></li>
<li class="leaf"><a title="" href="http://events.powervote.org/login">Manage your event</a></li>
<li class="leaf"><a title="" href="http://events.powervote.org/reports">Pics, Vids, Stories</a></li>
<li class="leaf"><a title="GOTV = Get Out The Vote" href="http://www.powervote.org/gotv">Resources</a></li>
<li class="leaf last"><a title="" href="/gotv/media">Media</a></li>

</ul> 
 </div>


  </div>
<div id="block-block-17" class="block block-block">
  <h2 class="title">PowerVote on Facebook</h2>

  <div class="content">
    <div style="background-color=transparent"><a href="http://apps.new.facebook.com/powervote" target=
"_blank"><img src="http://www.powervote.org/files/Picture 7_1.png"width="130" height="200"class="alignright"/></a>

<p>1. <a href="http://www.facebook.com" target="_blank">Sign into Facebook</a></p>
<p>2. <a href="http://apps.new.facebook.com/powervote" target=
"_blank">Download the application</a></p>
<p>3. <a href="http://apps.new.facebook.com/powervote/invite.php" target="_blank">Invite the maximum number of friends to also sign the pledge</a></p>
</div>
  </div>
</div>
        </div><!--/left-->
            
            
      <div id="main">


  <div class="content">
  
  
      <% if flash[:notice] %><div class="flash" id="notice"><%= flash[:notice] %></div><% end %>
                          <% if flash[:error] %><div class="flash" id="error"><%= flash[:error] %></div><% end %>
                          <%= yield %>
  
  
  
    </div>

      </div><!--/main-->
      
    </div><!--/pagebody-->
    <div id="footer">
      <div id="eac"><a href="http://energyactioncoalition.org/">A project of Energy Action Coalition.</a></div>
      <a href="http://powervote.org/contact">Contact</a> | <a href="http://powervote.org/privacy">Your Privacy</a> | <a href="https://salsa.democracyinaction.org/o/614/t/7407/shop/custom.jsp?donate_page_KEY=3825">Donate</a>      <div id="block-block-10" class="block block-block">

  <h2 class="title">Flickr Feed</h2>

  <div class="content">
    <script language="JavaScript" src="http://energyaction.net/feedy/photos.php?num=7"></script>
  </div>
</div>
    </div><!--/footer-->
  </div> <!--/wrapper-->

  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-707335-5");
pageTracker._trackPageview();
</script>
</body>
</html>

