
#report_text{
display:block;
PADDING-BOTTOM: 10px;
}

#report_text H1{ 
font-size:19px
}

#report_images{
display:block;
PADDING-BOTTOM: 10px;
PADDING-TOP: 10px;
}

.report_image{
PADDING-TOP: 10px;
PADDING-BOTTOM: 10px;
text-align:center;
}

#report_images img {
background-color:red;
border:2px solid blue;
}

#detail-container{ 
PADDING-TOP: 0px;
PADDING-BOTTOM: 0px;
}

.intro-text{

}

.intro-title { 
font-size:21px;
}

#login-box{ 
text-align:right
}




body { background-color: #cccccc; }