#block-block-21{:class => "block block-block"}
  .blockinner
    %h2.title
    .content
      %p &nbsp;
      %p &nbsp;
#block-block-64{:class => "block block-block"}
  .blockinner
    %h2.title
    .content
      %p
        %span{:style => "color:rgb(255,255,255);"}
          - case params[:controller] #@controller.controller_name 
          - when "calendars"
            - if @controller.action_name == "show"
              %h2 ATTEND AN ECOSALON
              %br
              If you would like to attend an EcoSalon in your area, just click on your state to 
              zoom in on the map or enter your zip code to locate an EcoSalon open to the public near you.  
              %p
              If you have already been invited to an EcoSalon and wish to RSVP, you can locate your EcoSalon 
              here or respond to the email sent to you by your host.
          - when "events"
            - case @controller.action_name
            - when "new"
              %h2 CO-HOST YOUR ECOSALON
              %br
              Consider co-hosting an EcoSalon with a friend.  Just enter one of your names in the sign-up form here.  
              Then edit the invitation text to include both your names to let your guests know that you'll be hosting it together. 
            - when "search"
              %h2 ATTEND AN ECOSALON
              %br
              Choose your EcoSalon from the list. Don't see yours? If the EcoSalon you are
              invited to isn't shown, go back to your email and click on the link in the
              email invitation to RSVP.
            - when "show"
              %h2 ECOSALON
              %br
              EcoSalon is a grassroots outreach initiative that offers women a fun and
              simple way to directly influence their communities to learn about climate
              change, why it is important, and how to take action. Bring the EcoSalon
              experience to your city and join the nationwide movement of women for
              climate protection!
          - when "account"
            - if @controller.action_name == "login"
              %h2 HELPFUL RESOURCES
              %br
              Find party plans, a guide to taking action, our Hope to Action video, and more great 
              ideas on how to organize your EcoSalon in
              %p
              <a href="http://hopetoaction.org/ecosalon/party/resources">>> Our Resources section</a> 
          - when "account/events"
            - case @controller.action_name 
            - when "index"
              %h2 HELPFUL RESOURCES
              %br
              Find party plans, a guide to taking action, our Hope to Action video, and more great 
              ideas on how to organize your EcoSalon in
              %p
              <a href="http://hopetoaction.org/ecosalon/party/resources">>> Our Resources section</a> 
            - when "show"
              %h2 REFRESHMENT TIPS
              %br
              Eco-friendly food and drink will fuel thoughtful conversation and satisfied guests!  
              %p
              <a href="http://www.eatwellguide.org/i.php?pd=Home">>> Buy locally produced organic foods</a> 
              %p
              %ul
                %li Use glass bottles and pitchers instead of plastic.
                %li Avoid unnecessary packaging.
                %li Use cloth napkins instead of paper.
              %br
              %h2 PARTY FAVOR TIPS
              %br
              Consider Eco party favors for your guests to encourage them to take action with you! 
              You'll find great ideas in the EcoGift Guide like:  
              Thank your guests for joining you in the movement for climate protection.  Find climate-friendly 
              gifts from less than $1 to $20 in
              %p
              <a href="http://hopetoaction.org/EcoGift%20Guide">>> Our EcoGift Guide</a> 
          - else 
            %h2 ECOSALON
            %br
            EcoSalon is a grassroots outreach initiative that offers women a fun and simple way to directly 
            influence their communities to learn about climate change, why it is important, and how to take 
            action. Bring the EcoSalon experience to your city and join the nationwide movement of women 
            for climate protection! 
