#block-block-21{:class => "block block-block"}
  .blockinner
    %h2.title
    .content
      %p &nbsp;
      %p &nbsp;
#block-block-64{:class => "block block-block"}
  .blockinner
    %h2.title
    .content
      %p
        %span{:style => "color:rgb(255,255,255);"}
          - case params[:controller] #@controller.controller_name 
          - when "calendars"
            - if @controller.action_name == "show"
              %h2 ATTEND AN ECOSALON
              %br
              Need to RSVP? Looking for an EcoSalon open to the public to attend? Just
              enter your zip code to find your EcoSalon now! Or click on your state to
              zoom in on the map. If the EcoSalon you are invited to isn't listed, just
              click on the link from the email invitation to RSVP.
          - when "events"
            - case @controller.action_name
            - when "new"
              %h2 ECOSALON
              %br
              EcoSalon is a grassroots outreach initiative that offers women a fun and
              simple way to directly influence their communities to learn about climate
              change, why it is important, and how to take action. Bring the EcoSalon
              experience to your city and join the nationwide movement of women for
              climate protection!
            - when "search"
              %h2 ATTEND AN ECOSALON
              %br
              Choose your EcoSalon from the list. Don't see yours? If the EcoSalon you are
              invited to isn't shown, go back to your email and click on the link in the
              email invitation to RSVP.
            - when "show"
              %h2 ECOSALON
              %br
              EcoSalon is a grassroots outreach initiative that offers women a fun and
              simple way to directly influence their communities to learn about climate
              change, why it is important, and how to take action. Bring the EcoSalon
              experience to your city and join the nationwide movement of women for
              climate protection!
          - when "account"
            - if @controller.action_name == "login"
              %h2 CO-HOST YOUR ECOSALON
              %br
              You don't have to plan and host your EcoSalon on your own! Save time and
              have fun by co-hosting your EcoSalon with a friend.
          - when "account/events"
            - case @controller.action_name 
            - when "index"
              %h2 HELPFUL RESOURCES
              %br
              Don't forget to check our Resources section, which can give you great ideas
              on how to organize your EcoSalon! Find party plans, a guide to taking
              action, our Hope to Action video, and more!
            - when "show"
              %h2 REFRESHMENT TIPS
              %br
              Eco-friendly food and drink will fuel thoughtful conversation and satisfied
              guests!
              %ul
                %li Buy locally produced organic foods.
                %li Use glass bottles and pitchers instead of plastic.
                %li Avoid unnecessary packaging.
                %li Use cloth napkins instead of paper.
              %br
              %h2 PARTY FAVOR TIPS
              %br
              Consider Eco party favors for your guests to encourage them to take action
              with you! You'll find great ideas in the EcoGift Guide like:
              %ul
                %li Lightbulbs
                %li Reusable bags
                %li Eco-friendly Beauty products
          - else 
            %h2 ECOSALON
            %br
            EcoSalon is a grassroots outreach initiative that offers women a fun and
            simple way to directly influence their communities to learn about climate
            change, why it is important, and how to take action. Bring the EcoSalon
            experience to your city and join the nationwide movement of women for
            climate protection!
