<% restrict_to "admin" do %>
  <div id="admin">
	<b>Admin Tools:</b><br>
    <%= link_to 'List Reports', :controller => :reports, :action => :list %> | <%= link_to 'Add Report', :controller => :reports, :action => :new %>
  </div>
<% end %>
