<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>A Call to Action! April 1st 2008 | Energy Action Coalition</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://energyactioncoalition.org/sites/energyactioncoalition.org/files/eac_favicon.ico" type="image/x-icon" />
<style type="text/css" media="all">@import "http://energyactioncoalition.org/modules/node/node.css";</style>
<style type="text/css" media="all">@import "http://energyactioncoalition.org/modules/system/defaults.css";</style>
<style type="text/css" media="all">@import "http://energyactioncoalition.org/modules/system/system.css";</style>

<style type="text/css" media="all">@import "http://energyactioncoalition.org/modules/user/user.css";</style>
<style type="text/css" media="all">@import "http://energyactioncoalition.org/sites/all/modules/logintoboggan/logintoboggan.css";</style>
<style type="text/css" media="all">@import "http://energyactioncoalition.org/sites/all/themes/eac/style.css";</style>

	<%= javascript_include_tag 'prototype' %>
	<%= stylesheet_link_tag 'events' %>
	<%= theme_stylesheet_link_tag 'energyaction' %>
	<%= yield :header %>
	<%= Cartographer::Gmap::Header.header_for(request) if @map %>

<script type="text/javascript" src="http://energyactioncoalition.org/misc/jquery.js"></script>
<script type="text/javascript" src="http://energyactioncoalition.org/misc/drupal.js"></script>
</head>
<body class="not-front not-logged-in ntype-page">
<div id="sub_body">	
  <div id="page">

    <div id="header">
	    <div id="navigation" class="menu withprimary ">
	        	          <div id="primary" class="clear-block">
	            <ul class="links-menu">
<li><a href="http://energyactioncoalition.org/newsroom" title="newsroom">newsroom</a></li>
<li><a href="http://energyactioncoalition.org/whatwedo" title="What We Do">what we do</a></li>
<li><a href="http://energyactioncoalition.org/whatwerefor" title="what we&#039;re for">what we&#039;re for</a></li>
<li><a href="http://energyactioncoalition.org/whoweare" title="who we are">who we are</a></li>

<li><a href="http://energyactioncoalition.org/" title="home">home</a></li>
</ul>	          </div>
	        
	    </div> <!-- /navigation -->
      <div id="block-block-12" class="block block-block">  
  <div class="blockinner">
    <h2 class="title">  </h2>
    <div class="content">
      <a id="donate" href="https://salsa.democracyinaction.org/o/614/t/5737/shop/custom.jsp?donate_page_KEY=3323">DONATE</a>    </div>    
  </div>

</div>
<div id="block-block-14" class="block block-block">  
  <div class="blockinner">
    <h2 class="title">  </h2>
    <div class="content">
      <a id="signup" href="http://energyactioncoalition.org/signup">SIGN UP</a>    </div>    
  </div>
</div>
<div id="block-block-11" class="block block-block">  
  <div class="blockinner">
    <h2 class="title">  </h2>

    <div class="content">
      <img src="http://energyactioncoalition.org/sites/energyactioncoalition.org/files/fossilfoolsheader.jpg" width="790px" style="margin-left:10px;" /><br />
<div align="right" id="fossilfoolsmenu"><a href="http://energyactioncoalition.org/fossilfools">Home</a> | <a href="http://energyactioncoalition.org/foolies">The Foolies</a> | <a href="http://energyactioncoalition.org/fossilfools/organizers">Organizers HQ</a> | <a href="http://energyactioncoalition.org/fossilfools/newsroom">Newsroom</a> | <a href="http://energyactioncoalition.org/fossilfools/international">International</a></div>    </div>    
  </div>

</div>
    </div> <!-- /header -->
    <div id="container" class="clear-block">
                  
        
	
			      <div id="main" class="column"><div id="squeeze">
			                        <% if flash[:notice] %>
			</p>
			<div class="flash" id="notice"><%= flash[:notice] %></div>
			<% end %>
			<% if flash[:error] %>
			<div class="flash" id="error"><%= flash[:error] %></div>
			<% end %>
			<%= yield %>

			                      </div></div> <!-- /squeeze /main -->

      
  </div> <!-- /container -->

    <div id="footer-wrapper">
      <div id="footer">
        
<div id="block-block-15" class="block block-block">  
  <div class="blockinner">
    <h2 class="title">  </h2>
    <div class="content">
      <br />
<center><a href="http://energyactioncoalition.org/contact">Contacts</a>  |  <a href="http://energyactioncoalition.org/credits">Site Credits</a>  |  <a href="http://energyactioncoalition.org/signup">Sign Up</a>  |  <a href="http://energyactioncoalition.org/donate">Donate</a></center>

<br />    </div>    
  </div>
</div>
      </div> <!-- /footer -->
    </div> <!-- /footer-wrapper -->
    
    <script type="text/javascript" src="http://www.google-analytics.com/urchin.js"></script>
<script type="text/javascript">
_uacct = "UA-707335-4";urchinTracker();
</script>
<script type="text/javascript" src="http://energyactioncoalition.org/sites/all/modules/google_analytics/downloadtracker.js"></script>

    
  </div> <!-- /page -->
</div> <!-- /sub_body -->
</body>
</html>