<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="Search" href="http://www.radicaldesigns.org/search.php">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://radicaldesigns.org/rssfeed.php"><title>Radical Designs&nbsp;:&nbsp;Index</title>

    <%= theme_javascript_include_tag 'functions' %>
    <%= javascript_include_tag 'prototype' %>
    <%= stylesheet_link_tag 'events' %>

    <%= Cartographer::Gmap::Header.header_for(request) if @map %>
    <%= theme_stylesheet_link_tag 'styles_default.css' %>
    <%= theme_stylesheet_link_tag 'styles.css' %>

  <meta name="verify-v1" content="/Eqy78yzdCTGxDmyBDkjQoA0PxBbHKIQN8vI4DXXQuQ=">
  <script type="text/javascript">
  function showlayer(layer){
    var myLayer = document.getElementById(layer).style.display;
    if(myLayer=="none"){
      document.getElementById(layer).style.display="block";
    } else {
      document.getElementById(layer).style.display="none";
    }
  }
  </script>
</head>

<body style="margin: 0pt; padding: 0pt; background: rgb(125, 151, 187) url(img/rdsite_bg_02.gif) repeat-x scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" onload="MM_preloadImages('img/rdsite2_frames_on_18.gif','img/rdsite2_frames_on_20.gif','img/rdsite2_frames_on_22.gif','img/rdsite2_frames_on_24.gif')"><a href="#" onclick="javascript:showlayer('shader')"><img src="themes/radicaldesigns/images/spacer.gif" align="right" border="0" height="15" width="15"></a>
<div id="shader"><img src="themes/radicaldesigns/images/justin.gif"></div>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="899">
  <tbody><tr>
    <td><img src="themes/radicaldesigns/images/spacer.gif" height="29" width="1"></td>
  </tr>
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody><tr>
        <td><a href="http://www.radicaldesigns.org/index.php"><img src="themes/radicaldesigns/images/rdsite2_frames_13.gif" border="0" height="94" width="566"></a></td>
        <td style="background: rgb(52, 65, 147) url(img/rdsite2_frames_14.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" height="94" valign="top" width="333"><span class="qlinks"><a href="http://www.radicaldesigns.org/index.php">home</a> | <a href="http://www.radicaldesigns.org/article.php?id=105">contact</a> | <a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=7">download</a></span></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td>
    
    <table bgcolor="#344193" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody><tr>
        <td><img src="themes/radicaldesigns/images/rdsite2_frames_17.gif" height="29" width="275"></td>
        <td><a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=3" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('aboutus','','img/rdsite2_frames_on_18.gif',1)"><img src="themes/radicaldesigns/images/rdsite2_frames_18.gif" name="aboutus" border="0" height="29" width="142"></a></td>
        <td><img src="themes/radicaldesigns/images/rdsite2_frames_19.gif" height="29" width="7"></td>
        <td><a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=4" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('services','','img/rdsite2_frames_on_20.gif',1)"><img src="themes/radicaldesigns/images/rdsite2_frames_20.gif" alt="Services" name="services" border="0" height="29" width="142"></a></td>
        <td><img src="themes/radicaldesigns/images/rdsite2_frames_21.gif" height="29" width="8"></td>
        <td><a href="http://www.radicaldesigns.org/links.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('portfolio','','img/rdsite2_frames_on_22.gif',1)"><img src="themes/radicaldesigns/images/rdsite2_frames_22.gif" alt="Porfolio" name="portfolio" border="0" height="29" width="142"></a></td>
        <td><img src="themes/radicaldesigns/images/rdsite2_frames_23.gif" height="29" width="7"></td>
        <td><a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=6" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('support','','img/rdsite2_frames_on_24.gif',1)"><img src="themes/radicaldesigns/images/rdsite2_frames_24.gif" alt="Support" name="support" border="0" height="29" width="142"></a></td>
        <td><img src="themes/radicaldesigns/images/rdsite2_frames_25.gif" height="29" width="34"></td>
      </tr>
    </tbody></table>
    
    
    </td>
  </tr>
  <tr>
    <td style="border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); background: rgb(230, 240, 254) none repeat scroll 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><table align="center" border="0" cellpadding="10" cellspacing="0" width="95%">
      <tbody><tr>
        <td style="border-bottom: 1px solid rgb(188, 199, 229);" valign="middle"><img src="themes/radicaldesigns/images/spacer.gif" height="4" width="3"><table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tbody><tr>
            <td style="border-right: 1px solid rgb(188, 199, 229);" valign="middle" width="340"><div class="fpmission">
            
              <p><span class="shout">Radical Designs</span>
is a full service web development group focused on the needs of
non-profit and grassroots social change organizations. We provide
strategic online campaign consulting, web design and web application
development. Our premier product is the Activist Mobilization Platform
(AMP). <span class="fpmore"><a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=3">More About Us</a></span></p>
            </div></td>
            <td valign="top">
              <table border="0" cellpadding="5" cellspacing="0" width="100%">
                <tbody><tr>
                  <td><span class="shout">Our Tools</span><br><br>
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                      <tbody><tr>
                        <td bgcolor="#ffffff"><p class="fpnavs"><span class="shout">The Activist Mobilization Platform (AMP)</span>
is suite of hosted content publishing, organizing and mobilization
tools built by and for social movements. We provide custom configured
hosted installations of AMP along with training, service and support
contracts that will help your organization make the most out of its
on-line presence.</p>
                          <p class="fpnavs"><span class="shout">Revent</span>
is a distributed event tool designed to support organizing for national
days of action, campaign tours, house parties and more. The tool is a
full featured event planning system that includes host signup,
participant RSVP, host management features and extensive report back
tools. </p>
           </td>
                      </tr>
                    </tbody></table>
                   <span class="fpmore"> <a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=4">More About Our Services</a></span></td>
                </tr>
              </tbody></table>
            
              </td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td><table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tbody><tr>
            <td width="450"><span class="fpheader">Campaign &amp; Organization Profile</span>

<table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td><table border="0" cellpadding="10" cellspacing="0"><tbody><tr><td valign="top"></td> <td valign="top"><a href="http://www.radicaldesigns.org/article.php?id=114" class="fptitles">Do Not Mail: A ForestEthics campaign to create a Do Not Mail registry to stop junk mail</a><span class="fpnavs">­
Junk mail destroys forests and natural resources, wastes our time and
money, and invades our privacy. In 2003, Congress created the national
Do Not Call Registry&#8212;the most popular consumer rights bill in history.
Today, we are fighting for a companion registry to end the onslaught of
junk mail in our mailboxes. This new ForestEthics campaign site, launched in AMP, includes <a href="http://donotmail.org/form.php?id=50">a custom tool</a> built to produce easily printable, customized Do Not ..</span><span class="fpmore"><a href="http://www.radicaldesigns.org/article.php?list=type&amp;type=32">More Profiles</a> | <a href="http://www.radicaldesigns.org/links.php">Our Portfolio</a></span></td></tr></tbody></table></td></tr></tbody></table>            </td>
            <td><span class="fpheader">Blog - coming soon!</span></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table><br></td>
  </tr>
  <tr>
    <td style="background: rgb(230, 240, 254) url(img/rdsite2_frames_39.gif) no-repeat scroll left bottom; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" height="29" width="899"><span class="footer">info@radicaldesigns.org &#8226; 1370 Mission St. 4th Floor San Francisco California 94103 &#8226; (415) 738 0456</span> </td>
  </tr>
</tbody></table>
<p>&nbsp;</p>
</body></html>
