<% form_tag :url => {:id => params[:id]} do %>
<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>
<p><label for="password_confirm">Password again</label><br/>
<%= password_field_tag 'password_confirm' %></p>
<%= submit_tag %>
<% end %>
