<div><%= dia_event_host.start %> : <%= link_to dia_event_host.name, :controller => 'events', :action => 'show', :id => dia_event_host.id %> (<%= link_to 'edit', :controller => 'account', :action => 'event', :id => dia_event_host.id %>)</div>
