<% content_for :header do %>
<%= theme_stylesheet_link_tag('stepitup') %>
<% end %>
<%= link_to 'Events', :controller => 'account/events', :action => 'index' %> | <%= link_to 'Profile', profile_url %> | <%= link_to 'Logout', logout_url %>
