<% controller = "invites" %>

<p><img src="http://stepitup2007.org/img/original/avaazlogo_en.gif" align="right" alt="Avaaz" hspace="10" vspace="0">Avaaz has teamed up with Step It Up to call for real leadership on global
warming.  Use this map and the tools below to find and join an action near
you.
</p><br>

<%= render "/invites/map" %>
