<ul>
<li><%= link_to 'manage users', :controller => 'admin/users', :action => 'index' %></li>
<li><%= link_to 'manage events', :controller => 'admin/calendars', :action => 'index' %></li>
<li><%= link_to 'manage invites', :controller => 'admin/invites', :action => 'index' %></li>
</ul>