<h1>New event</h1>

<% form_for :event, @event, :action => 'create' do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
