
/**** MASTER CSS ****/

body { background-color: #cccccc; line-height: auto; }

th,td,p {
line-height: auto; 
}

#detail-container{ 
PADDING-TOP: 0px;
PADDING-BOTTOM: 0px;
}

.intro-text{
PADDING-BOTTOM: 10px;
}

.intro-title { 
font-size:21px;
font-weight: bold;
PADDING-BOTTOM: 10px;
}

.login-box { 
text-align:right
}


/**** TOOL BARS ****/

#flash{
border:1px solid black; 
background-color:#cccccc; color:#000000;
padding: 5px 5px 5px 15px;
margin:20px;
}
#developer{
border:1px solid black; 
background-color:#cccccc; color:#000000;
padding: 5px 5px 5px 15px;
margin:20px;
}
#admin{
border:1px solid black; 
background-color:#FFFFCC; color:000000;
padding: 5px 5px 5px 15px;
margin:20px;
}


/**** REPORT LIST PAGE ****/

.report-list-element{
display:block;
PADDING-BOTTOM: 10px;
PADDING-TOP: 10px;
}
.report-list-image {
	float: left;
	height: 100px;

	padding-right: 10px; 
	
	}
.report-list-image  img{
	border:1px solid black; 

	}

.report-list-basics {
	margin-left: 110px;
height: 90px;

	}
.report-list-title {
        font-size:17px;
	display: block;
	margin-bottom: 8px;
       font-weight:bold;
	}
.report-list-title a{
	color:#C42021;
	}

.report-list-text {
        font-size:12px;

        line-height:18px;
	margin-bottom: 2px;
	}
.report-list-more {
	margin-bottom: 2px;
         text-align:right;
         font-size:12px;
	}

.report-list-more a{
	color:#C42021;
	}


#report-search{

border:1px solid black; 
background-color:#cccccc; color:#000000;
padding: 5px 5px 5px 10px;
margin-left:10px;
margin-bottom:10px;
	color:#C42021;
font-size:13px;

	}

 #report-search input{
color: #000;
border: 1px solid #000
}


 #report-search input{
color: #000;

border: 1px solid #000
}
/**** REPORT DETAIL PAGE ****/


.report-intro-text{
display:block;
PADDING-BOTTOM: 1px;

}
.report-intro-text H2{
font-size:20px;
color:#C42021;

}
.report-intro-text H3{
font-size:18px;
line-height:px;
}
.report-intro-text b{
font-size:14px;
line-height:8px;
}

#report_text{
display:block;
PADDING-BOTTOM: 18px;
}

#report_text p{
font-size:12px;
}
.report-by{
font-size:13px;
font-weight:bold;
text-align:right
}



#report_images{
display:block;
PADDING-BOTTOM: 10px;
PADDING-TOP: 10px;
}

.report_image{
PADDING-TOP: 10px;
PADDING-BOTTOM: 40px;
text-align:center;
}

#report_images img {
background-color:red;
border:2px solid blue;
}


#report_press{
	display: none;
}

#report_comments{
	display: none;
}

/**** Event MAP List PAGE ****/

#description{
padding-bottom: 15px; 
}

#description b{
line-height: 19px; 
}

#location{
padding-bottom: 15px; 
}

#location b{
line-height: 19px; 
}

#nav-event{
display:block;
text-align: right;
padding-bottom: 15px; 
}

#event-map-container{
	
	width: 500px;
	padding-right: 10px; 
padding-bottom: 15px; 
}



#event-list-container{
       margin-left: 10px;
}

.event-list-intro-title{

font-size:17px;
font-weight: bold;
PADDING-BOTTOM: 10px;

}

#event-list-intro{
	PADDING-BOTTOM: 10px;
}


.event-list-element{
	PADDING-BOTTOM: 12px;
}
	
.event-list-city{
font-size:13px;
font-weight: bold;
}

	
.form_subtitle{
font-size:15px;
font-weight:bold;
background-color: #CCC;
padding:3px;
}

	
.form_subtitle{
  font-size:15px;
  font-weight:bold;
  background-color: #CCC;
  padding:3px;
}

.report-embed{
  text-align:center;
}

/* leaders = politicians */

.politician-name {
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
  color: #45637e;
  display: block;
  padding: 0px 0px 5px 0px;
}

.politician {
padding: 10px 10px 10px 10px;
background: #E4EBF2;
margin-bottom: 15px;
}
.politician img {
border: 3px solid #FFF;
}

.invites-list {
background: #E4EBF2;
padding: 15px;
}
.header-row {
background: #8cb5dd;
color: #FFFFFF;
text-transform: uppercase;
font-size: 9px;
font-weight: bold;
}
.invites-list-img img{
border:2px solid white;

}

.invites-list-name {
width: 150px;
}

.invites-list-checks {
text-align: center;
}

.invites-list-invite {
width: 65px;
text-align: center;
}
.invites-list-invite a {
  color: #1f5c83;

}
.button-maker a {
  color: #FFF;
  display: block;
 padding-right: 10px;
 padding-left: 10px;
  padding-top: 4px;
}

.button-maker {
  display: block;
  height: 26px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(http://stepitup2007.org/img/original/stepitup2_buttommkr_02.gif) top left repeat;
  margin: 3px;
}

.button-maker-left {
  display: block;
  background: url(http://stepitup2007.org/img/original/stepitup2_buttommkr_01.gif) top left no-repeat;
  height: 26px;
}
.button-maker-right {
  display: block;
background: url(http://stepitup2007.org/img/original/stepitup2_buttommkr_04.gif) top right no-repeat;
  height: 26px;
}

.report-intro-text .button-maker {
  width: 200px;
}

