<h1>Listing events</h1>

<br/>
<% form_tag :action => 'search' do %>
  Search for event by name: <%= text_field_tag :name %>
  <%= submit_tag 'Search' %>
<% end %>
<br />

<table>
	<tr><th>Event Name</th></tr>
	<%= render :partial => 'event', :collection => @events %>
</table>

<br />
<%= link_to 'Back to calendars', url_for(:controller => 'admin/calendars') %>
