<br/>
<% form_tag :action => 'search' do %>
  Search by event name: <%= text_field_tag :name %>
  <%= submit_tag 'Search' %>
<% end %>
<br />

<table>
	<tr><th>Event Name</th></tr>
	<% for event in @events %>
		<%= render :partial => 'event', :object => event %>
	<% end %>
</table>

<br />
<%= link_to 'Back to calendars', url_for(:controller => 'admin/calendars') %>
