<h1>Listing users</h1>

<br/>
<% form_tag :action => 'search' do %>
  Search for user by email address:<br/> 
	<%= text_field_tag :email %>
  <%= submit_tag 'Search' %>
<% end %>
<br/>

<table>
	<tr><th>Name</th><th>Email</th></tr>
	<%= render :partial => 'user', :collection => @users %>
</table>

<hr>
<%= pagination_links(@user_pages) %>
</hr>

<br/><br/><%= link_to 'Back to admin', url_for(:controller => '/admin') %>

