<br/>
<% form_tag :action => 'search' do %>
  Search by email: <%= text_field_tag :email %>
  <%= submit_tag 'Search' %>
<% end %>
<br/>

<table>
	<tr><th>Name</th><th>Email</th></tr>
	<% for user in @users %>
		<%= render :partial => 'user', :object => user %>
	<% end %>
</table>

<hr>
<%= pagination_links(@user_pages) %>
</hr>
