<h1>Invite leaders to <%= @event.name %></h1>
<p>
<em>The more invitations our leaders get, the greater the chances are that they'll rise to the occasion on November 3rd--so let's get cracking. Something to keep in mind: phone calls make more of an impact with politicians, so do that first, and then move on to the others.  With your help, we can make November 3rd HUGE.</em>
</p>
<%= render(:partial => 'politician', :collection => @politicians) %>
<%= link_to 'Back to event details', url_for(:permalink => @calendar.permalink, :controller => :events, :action => :show, :id => @event) %>

