Congressional Representatives<br/>
Invited: <%= @congress_invites %><br/>
Committed to attend: <%= @congress_rsvps %><br/>

Presidential Candidates<br/>
Invited: <%= @candidate_invites %><br/>
Committed to Attend: <%= @candidate_rsvps %>
