<span class="score_titles">Members of Congress</span>
 <table cellpadding="4" cellspacing="0" border="1" width="90%" style="color: #FFFFFF;"><tr><td style="color: #FFFFFF;">Invited: </td><td class="score"><%= @congress_invites %>
</td></tr><tr><td style="color: #FFFFFF;">Committed to attend:  </td><td class="score"> <%= @congress_rsvps %> </td></tr></table>
<br /><br />
<span class="score_titles">Presidential Candidates</span>
<table cellpadding="4" cellspacing="0" border="0" width="90%" style="color: #FFFFFF;"><tr><td style="color: #FFFFFF;">Invited: </td><td class="score"><%= @candidate_invites %>
</td></tr><tr><td style="color: #FFFFFF;">Committed to Attend: </td><td class="score"> <%= @candidate_rsvps %></td></tr></table>
