<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>SWAN Day Events</title>

<link href="http://womenarts.org/FWAsite.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 20px;
}
-->
</style>

  <%= javascript_include_tag 'prototype' %>
  <%= stylesheet_link_tag 'events' %>
  <%= yield :header %>
  <%= Cartographer::Gmap::Header.header_for(request) if @map %>
   <link rel="shortcut icon" href="http://www.womenarts.org/favicon.ico" type="image/x-icon" />

</head>

<body> 
<table width="650" border="0" cellpadding="0" cellspacing="0">  

<tr>
    <td colspan="7" valign="top"><div align="left"><a href="http://www.womenarts.org/index.html"><img src="http://www.womenarts.org/SWAN_Banner_F3.GIF" alt="Support Women Artists Now Day" height= "184" /></a></div></td> 
  </tr>
</table>
<table width= "493">
  <tr> </tr>
  <tr>
    <td height="34" colspan="4" valign="middle"><a href="http://www.womenarts.org/swan"><img src="http://www.womenarts.org/images/home_swan.gif" alt="Swan Day" width="158" height="23" border="0" /></a><img src="http://www.womenarts.org/images/spacer6.gif" alt="space" /><a href="http://www.womenarts.org/swan/publicity"><img src="http://www.womenarts.org/images/home_publicity.gif" alt="Publicity Tools" width="158" height="23" border="0" /></a><img src="http://www.womenarts.org/images/spacer6.gif" alt="space" /><a href="http://www.womenarts.org/swan/fundraising"><img src="http://www.womenarts.org/images/home_fundraising.gif" alt="Fundraising Tools" width="158" height="23" border="0" /></a><img src="http://www.womenarts.org/images/spacer6.gif" alt="space" /><a href="http://www.womenarts.org/share"><img src="http://www.womenarts.org/images/home_about_us.gif" alt="About Us" width="158" height="23" border="0" /></a></td>
  </tr>
  <tr>

    <td height="10" colspan="4" valign="top"><img src="http://www.womenarts.org/images/Yellow_Line650.gif" alt="line" height="5" align="top" /></td>
  </tr>
  
    <td width="650" valign="top"><table width="650" cellpadding="6">
      
      <tr>
        <td width="478" align="left" valign="top"></td>
      </tr>
      <tr>
        <td>
		<p>
  <% if flash[:notice] %>
</p>
<div class="flash" id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div class="flash" id="error"><%= flash[:error] %></div>
<% end %>
<%= yield %>
		<br /><br />
		<hr />

          <span class="bodytextbold">The Fund for Women Artists</span><span class="bodytext">          <br />
          3739 Balboa Street #181 <br />
          San Francisco, CA 94121 <br />
          Phone: (415) 751-2202 <br />
          Website: &nbsp;<a href="http://www.womenarts.org">www.womenarts.org </a><br />

          Email: &nbsp;<a href="mailto:info@womenarts.org">info@womenarts.org</a></span></p>
</span></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="1"></td>
  </tr>

</table>
</body>
</html>
