  <div id="national-footer">
    <br>
    <hr>  <p>View  <%= link_to "All Press Reports", :controller => "reports", :action => "press" %> of the Day of Action<br>
              View <%= link_to "All Videos", :controller => "reports", :action => "video"  %> of the Day of Action<br>
                  View <%= link_to "All Reports", :controller => "reports", :action => "list"  %> of the Day of Action
                      </p>
 </div>
