<div style="width:500px;height:500;margin-right:auto;margin-left:auto;padding:10px">
  <h2>Share or Save this Report on on your <br>Favorite Social Bookmark Site</h2>

  <p>link</p>
  <p>link</p>
  <p>link</p>
  <p>link</p>
  <p>link</p>

  <br><br><%= link_to( 'Close Window', nil, :class => 'lbAction', :rel => 'deactivate') %><br>
</div>

