<div style="width:500px;height:500px;margin-right:auto;margin-left:auto;"><iframe align=center src=http://www.flickr.com/slideShow/index.gne?user_id=82047420@N00&tags=stepitup2007_<%= @event.id %>&text=dssdf frameBorder=0 width=500 scrolling=no height=500></iframe><%= link_to( 'Close Window', nil, :class => 'lbAction', :rel => 'deactivate') %><br/></div>


