<h1>Editing calendar</h1>

<% form_tag calendar_url(@calendar), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @calendar %> |
<%= link_to 'Back', :action => 'list' %>
