<h3>Edit Politician:</h3>
<%= error_messages_for(:politician) %>
<% form_for :politician, :url => {:action => 'update', :id => @politician} do |form| %>
	<%= render :partial => 'politician', :locals => {:f => form} %>
<% end %>
<br />
<%= link_to 'Back to admin', :controller => '/admin', :action => 'index' %> | 
<%= link_to 'Back to manage invites', :action => 'index' %><br />
<br />
