<%= error_messages_for 'report' %>

<!--[form:report]-->
<p><label for="event_id">Event</label><br/>
<%= f.select 'event_id', Event.find(:all).collect {|e| ["#{e.state} - #{e.city}: #{e.name}", e.id]} %>

<p><label for="report_text">Text</label><br/>
<%= f.text_area 'text', :rows => 5 %></p>

<p>Upload images, audio or video<br/>
<%= file_field_tag 'attachment[]' %><br/>
<%= file_field_tag 'attachment[]' %><br/>
<%= file_field_tag 'attachment[]' %><br/>
<!--[eoform:report]-->

