document.write('<div id="report-widget"><div class="report-widget-image"><%= image_tag request.protocol+request.host+@report.attachments.first.public_filename(:list) if @report.attachments.any? {|a| a.image?} %></div><div class="report-widget-title"><%= link_to "#{@report.event.city}, #{@report.event.state}", :controller => "events", :action => "show", :id => @report.id, :only_path=>false %></div></div>');