document.write('<style>#report-widget{width: 150px;text-align:center;border: 1px solid black;padding: 7px;margin-bottom: 10px;margin-top: 10px;background-color: #f0f0f0;font-size:16px;}</style><div id="report-widget"><div class="report-widget-image"><%= image_tag request.protocol+request.host+@report.attachments.first.public_filename(:list) if @report.attachments.any? {|a| a.image?} %></div><div class="report-widget-title"><%= link_to "#{@report.event.city}, #{@report.event.state}", :controller => "events", :action => "show", :id => @report.id, :only_path=>false %></div></div>');