<tr class ="profile_item_row">
  <td><%= link_to 'Edit', :controller => 'account/blogs', :action => 'edit', :id => blog %></td>
	<td><%= blog.created_at.to_s(:short) %></td>
	<td><%= blog.title %></td>
</tr>
