<tr class ="profile_item_row">
	<td><%= link_to 'Manage', :action => 'show', :id => event %></td>
	<td><%= event.start %></td>
	<td><%= event.city  %></td>
	<td><%= event.state %></td>
	<td><%= event.name  %></td>
</tr>
