Dear <%= @user.first_name %>,

Thank you for RSVP'ing to <%= @event.name %>. Don't forget to 
<%= link_to 'submit a report', :controller => 'reports', :action => 'new', :id => @event %> 
after the event has occurred.

Thanks!
<%= Site.current.theme %>
